
      <img
        src="https://murkotiki.com/wp-content/webp-express/webp-images/uploads/2021/08/42-amerikanskaya-zhestkosherstnaya-4.jpg.webp"
        alt="american"
        width="400"
      />
      <div class="prescription">
        <h2>American</h2>
        <p class="text">{{description}}</p>

        <p class="text"><b>Temperament:</b> {{temperament}}</p>
      </div>

    
  